Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
build/
configure
m4/
.deps/
*.o
*.so
*.a
*.la
*.log

/src/.libs/
libtool
*.pc
config.status
*.lo

*.swp
*.swo
/debian/autoreconf.before
/debian/autoreconf.after

/debian/libetnaviv-dev/
/debian/tmp/
/debian/libetnaviv-dbg/
/debian/libetnaviv/
